html, body {
  margin: 0;
  text-align: center;
  font-family: 'Play', sans-serif;
  width: 100%;
  height: 100%;
}

.background-image {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('https://cdn.shopify.com/s/files/1/1283/8439/products/DSC_9945.jpg?v=1485814644');
  background-position: center center;
  background-repeat: no-repeat;
}

.intro-wrap {
  margin: auto auto;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1em;
  width: 100%;
}

h1 {
  font-weight: 900;
  color: rgba(0, 170, 160, 0.8);
  padding: 5%;
  margin: auto;
  overflow:auto;
}

h2 {
  font-size: 1em;
  color: rgba(0, 170, 160, 0.8);
  padding: 0.5em;
}

hr {
  width: 4em;
  margin: 5% auto;
  border: 0.1em solid rgba(30, 200, 190, 1);
  border-radius: 5em;
}

.btn-wrap a {
  text-decoration: none;
}

.btn {
  display: block;
  margin: 0.5em auto;
  border: 0.2em solid rgba(30, 200, 190, 1);
  border-radius: 5em;
  box-sizing: content-box;
  font-family: 'Play', sans-serif;
  color: white;
  background: rgba(30, 200, 190, 1);
  width: 10em;
  height: 2em;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  border-color: rgba(0, 170, 160, 1);
  background: rgba(0, 170, 160, 1);
  height: 2.5em;
}

.btn:active {
  border-style: inset;
}

.about-wrap {
  background-color: rgba(0, 20, 100, 1);
  border: 1px solid white;
  border-collapse: collapse;
  padding: 20px 20px;
  color: white;
  flex-basis: 50%;
}

.contact-wrap {
  background-color: rgba(110, 150, 110, 1);
  border: 1px solid white;
  border-collapse: collapse;
  padding: 20px 20px;
  color: white;
  flex-basis: 50%;
}

.contact-wrap a {
  color: white;
}

@media (min-width: 768px) {
  .flex-wrap {
    display: flex;

  }

}
